@model IEnumerable<FacultyInformationSystemEntities.Grant>

@{
    ViewData["Title"] = "GrantIndex";
}

<h1>GrantIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrantTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrantTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.FacultyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
