@model IEnumerable<FacultyInformationSystemEntities.Subject>

@{
    ViewData["Title"] = "CreateNewsubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

</br>
<h1 class="text-center"> Subject Details </h1> </br>

<p>
    <div class="btn btn-sm btn-primary" data-toggle="tooltip" title="Create">
        <a class="text-light" asp-action="CreateNewSubject">Add Subject</a>
    </div>
</p>
<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    <div class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit">
                        <a class="text-light" asp-action="UpdateSubject" asp-route-id="@item.SubjectId">Edit</a>
                    </div>
                    <div class="btn btn-sm btn-danger" data-toggle="tooltip" title="Delete">
                        <a class="text-light" asp-action="DeleteSubject" asp-route-id="@item.SubjectId">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
